.crashlytics/dump_syms.bin
firebase-debug.log
.idea
.vscode
.history
**/*.js
**/*.d.ts
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/ios/Flutter/DartEnvironmentVariables.xcconfig


.fvm/
mobile_transfer_app.code-workspace
**/pubspec.lock

__pycache__/
.helix/
.DS_Store
