<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812086350186-09pa4a8quf283qu955f4dioajh5frokc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812086350186-09pa4a8quf283qu955f4dioajh5frokc</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ4-jW8uA-9Pm9LPKxq62MHvObVyxsEJE</string>
	<key>GCM_SENDER_ID</key>
	<string>812086350186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karibu.transtu.dev</string>
	<key>PROJECT_ID</key>
	<string>transtu-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>transtu-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812086350186:ios:8c573120d438a55e0a1513</string>
</dict>
</plist>